.Ecard{
    position: relative;
    width: 100%;
    min-height: 120px ;
    background: rgba(245, 245, 245,0.8);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 10px;
    -webkit-box-shadow: 6px 11px 69px 0px rgba(138,164,207,0.61);
    -moz-box-shadow: 6px 11px 69px 0px rgba(138,164,207,0.61);
    box-shadow: 6px 11px 69px 0px rgba(138,164,207,0.61);
    transition: 0.5s;
}

.date{
    font-size: 0.8em ;
    background: rgb(255, 217, 0);
    width: 100px;
    display: flex ;
    align-items: center ;
    justify-content: center;
    border-radius: 5px;
}
.description{
    font-size: 0.8em ;
    margin-top: 10px;
}


.location{
    font-size: 0.8em ;
    display: flex;
    margin-top: 10px;
    
}
.LocIcon{
    margin-right: 10px;
    position: relative;
    color: rgb(197, 24, 24);
    font-size:1em ;
    animation: animateIcon 3s ease-in infinite normal /*fill-mode*/;
}

@keyframes animateIcon {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width : 992px){
    .Ecard{ 
    min-height: 10px;
    
    }
}