@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}

.Cont {
    position: relative;
    min-height: 1000px  ;
    width: 100%;
    
}


.a{
    position: relative ;
    width: 100% ;
    min-height: 100vh ;
    display: flex ;
    justify-content: center ;
    align-items: center  ;

    
}
.b {
    position: relative ;
    width: 100% ;
    min-height: 100vh;
    background: whitesmoke;
}
.content {
    position: relative;
    min-height: 300px;
}
.AP {
    width: 100% ;
    min-height: 50px;
    padding: 50px;
}
.AP h2 {
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.p {
    width: 100% ;
    min-height: 50px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    text-align: center;
}

.c, .e, .g  {
    position: relative ;
    width: 100% ;
    min-height: 100vh;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.c{
    background: radial-gradient(rgb(228, 234, 245),rgb(200, 219, 253));
    /*radial-gradient(rgb(32, 45, 51),rgb(26, 34, 37))*/
    overflow: hidden;
}
.d {
    position: relative ;
    width: 100% ;
    min-height: 100vh;   
}

.toggle {
    display: none ;
}
.f {
    width: 100% ;
    min-height: 100vh ;
}


@media (max-width : 992px) {


    header{
        position: relative;
        width: 75%;
        top: 20px;
        height: 50px;
        border-radius: 20px;
        background:  rgba(200, 219, 253,0.5) ;
        backdrop-filter: blur(300px);
        box-shadow: -1px 9px 21px -8px rgba(0,0,0,0.48);
        -webkit-box-shadow: -1px 9px 21px -8px rgba(0,0,0,0.48);
        -moz-box-shadow: -1px 9px 21px -8px rgba(0,0,0,0.48);
        position: fixed;

    }
    .toggle {
        display: block ;
        position: relative ;
        width: 30px ;
        height: 30px ;
        cursor: pointer ; 
    }
    .toggle:before {
        content: '';
        position: absolute ;
        top: 4px ;
        width: 100% ;
        height: 2px ;
        background: rgb(83, 80, 80);
        z-index: 1 ;
        box-shadow: 0 10px 0 rgb(83, 80, 80) ;
        transition: 0.5s ;
    }
    .toggle:after {
        content: '';
        position: absolute ;
        bottom: 4px ;
        width: 100% ;
        height: 2px ;
        background: rgb(83, 80, 80);
        z-index: 1 ;
        transition: 0.5s ;
    }
    header,
    header.sticky {
        padding: 5px 50px ;
        
    }
    header ul{
        position: absolute ;
        top: 55px ;
        left: 0 ;
        width: 100% ;
        height: 500px ;
        text-align: center ;
        overflow: auto ;
        border-radius: 20px;
        background:  rgba(200, 219, 253,0.2) ;
        backdrop-filter: blur(300px);
        box-shadow: -1px 9px 21px -8px rgba(0,0,0,0.48);
        -webkit-box-shadow: -1px 9px 21px -8px rgba(0,0,0,0.48);
        -moz-box-shadow: -1px 9px 21px -8px rgba(0,0,0,0.48);
        visibility: hidden ;
        opacity: 0 ;
    }
    .active ul {
        visibility: visible ;
        opacity: 1 ;
        display: block ;
    }
   .active ul li a {
        display: inline-block ;
        margin: 10px 0 ;
        font-size: 20px ;
        padding-top: 20px ;
        font-size: 1em;
   } 
   .sing, .log{
    border-radius: 20px;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    font-size: 1em;
    cursor: pointer;
    background: transparent ;
    border: transparent;
   
}


   header .logo,
   header ul li a {
       color: black;
   }
   .banner {
       background-position: center ;
   }
   .banner h2 {
       font-size: 60px ;
       padding: 0 50px ;
   }
   .sec {
       padding: 100px 50px 50px 50px ;
   }
   .services .box {
       width: 100% ;
   }
   .stats {
       padding-top: 250px ;
   }
   .row100 {
       flex-direction: column ;
   }
   .contactForm .row100 .inputBx50,
   .contactForm .row100 .inputBx100 {
       width: 100% ;
       margin: 0 ;
   }
   .sci {
       margin: 20px ;
   } 
   .sci ul li a .icon {
       font-size: 24px;
   }

}